body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MenuPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MenuPrincipal h1 {
    margin-bottom: 20px;
}

.menu_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonsOfTheMenu {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #333;
    background-color: #c4adad;
}

.buttonsOfTheMenu:hover {
    background-color: #fff;
    cursor: pointer;
}

/** Funções de Desligamento de tela **/


/************/

.SensorDeMovimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fileira1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.quadrado {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    background-color: #911616;
}

.quadrado:hover {
    background-color: #f00;
    cursor: pointer;
}

.animatronico {
    background-color: greenyellow;
    width: 10px;
    height: 10px;
}

.trancaDaSala {
    background-color: none;
    width: 10px;
    height: 10px;
}

.salaAberta {
    display: none;
}

.Q6 {
    background-color: aqua;
}

.botaoTrancar {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}