body {
    font-family: Arial, sans-serif;
    background-color: #0000AA;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.MenuPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 4px solid #ffffff;
    border-radius: 1px;
    padding: 20px;
    background-color: #0000AA;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.MenuPrincipal h1 {
    margin-bottom: 20px;
    color: #FFFF46;
}

.menu_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonsOfTheMenu {
    width: 100%;
    height: 40px;
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    background-color: #0000AA;
}

.buttonsOfTheMenu:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

/** Funções de Desligamento de tela **/

.sectionEscondida {
    display: none;
}

/************/

.SensorDeMovimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 4px solid #ffffff;
    border-radius: 1px;
    padding: 20px;
    background-color: #0000AA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fileira1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.bateria {
    color: #FFFF46;
    margin-bottom: 5px;
    font-weight: 700;
}

.quadrado {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    background-color: #ffffff;
}

.Jumpscare {
    width: 600;
    background-color: black;
}

.quadrado:hover {
    background-color: #f00;
    cursor: pointer;
}

.animatronico {
    background-color: #0000AA;
    width: 10px;
    height: 10px;
}

.trancaDaSala {
    background-color: none;
    width: 10px;
    height: 10px;
}

.tempoPizza {
    color: #FFFF46;
    margin-top: 5px;
    font-weight: 700;
}

.salaAberta {
    display: none;
}

.Q6 {
    background-color: #FFFF46;
}

.botaoTrancar {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
}

.YouWin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 4px solid #ffffff;
    border-radius: 1px;
    padding: 20px;
    background-color: #0000AA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonRestart {
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    background-color: #0000AA;
    margin-top: 20px;
    width: 70%;
    height: 40px;
}

.buttonRestart:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
    cursor: pointer;
}

.YouWinContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.YouWinContent h1 {
    color: #FFFF46;
}

.YouWinContent p {
    color: #ffffff;
}